@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "GigHub";
}

<h1>@Model.Heading</h1>
<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    @gig.Artist.Name
                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </div>
                <div class="genre pull-left">
                    @gig.Genre.Name
                </div>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toogle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts 
{
    <script>
        $(function () {
            $('.js-toogle-attendance').click(function (event) {
                var button = $(event.target);
                $.post('/api/attendances', { gigId: button.attr('data-gig-id') })
                    .done(function () {
                        $(button)
                            .removeClass('btn-default')
                            .addClass('btn-info')
                            .text('going');
                    })
                    .fail(function () {
                        alert('something failed')
                    });
            });

            $('.js-toggle-follow').click(function (event) {
                var button = $(event.target);
                $.post('/api/followings', { followeeId: button.attr('data-user-id') })
                    .done(function () {
                        $(button).text('Following');
                    })
                    .fail(function () {
                        alert('something failed')
                    });
            });
        });
    </script>
}